---
#  docker run -it --name grav --rm -p 9000:9000 -v ./config:/config liguana/grav
name: grav

services:
  grav:
    image: liguana/grav
    container_name: grav
    hostname: grav
    expose:
      - "9000:9000"
    volumes:
      - ./config:/config
    restart: unless-stopped
    healthcheck:
      test: curl --fail http://localhost:9000/ping || exit 1
      interval: 30s
      retries: 3
      start_period: 10s

networks:
  default:
    name: npm
    external: true

wp config create --dbname=testing --dbuser=wp --dbpass=securepswd --extra-php <<PHP
define('DATABASE_TYPE','sqlite');
define('DB_DIR', '/app/wp-content/database');
define('DB_FILE', 'db.sqlite');
PHP
